body {
  font-family: helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight:bold;
  color: white;
}

a:link,
a:hover,
a:visited {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}
.build {
  background-image: url("./images/building.png");
}

p {
  font-size: 14px;
}

#new-york {
  color: white;
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: right;
}
